{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container">
    <div class="row hero-row">
        <div class="col-12 col-xl-6 hero-col-left">
            <div class="hero-overlay"></div>
        </div>
        <div class="col-12 col-xl-6  hero-col-right">
            <div class="hero-overlay"></div>
            <h1 class="text-shadow">Designed For Living</h1>
            <div >
                <a href="" class="link-button link-button-light flex-center">Shop Collection</a>
                <a href="" class="link-button link-button-light flex-center">Our Story</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}