{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="hero1" class="p-5 bg-image rounded-3">
  
    <div class="d-flex justify-content-center align-items-center h-100">
      
      <div class="text-box">
        <h1 class="mb-3">Bringing the <span>outside</span>, inside.</h1>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Explore</a>
      </div>
  </div>
</div>
{% endblock %}