<script type="text/javascript">


    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 4;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }
    

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    //changes the price depending on the size selected
    const selectElement = document.getElementById('id_product_size');
    const priceText = document.getElementById('price_text')
    const PRICE = {{product.price}};
    const PRICE_MEDIUM = {{product.price_medium }};
    const PRICE_LARGE = {{ product.price_large }};
    

    selectElement.addEventListener('change', function() {
        var e = document.getElementById('id_product_size');
        var value = e.value;
        var text = e.options[e.selectedIndex].text;
        let my_string = '£' 
        if (value == 's'){
            priceText.textContent = my_string + PRICE
        }

        if (value == 'm'){
            priceText.textContent = my_string + PRICE_MEDIUM
        }

        if (value == 'l'){
            priceText.textContent = my_string + PRICE_LARGE
        }

    })

</script>

