<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=date_created&direction=desc" class="dropdown-item ">New In!</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">Best Sellers</a>
                <a href="{% url 'products' %}?category=easy_care" class="dropdown-item">Easy to look after</a>
                <a href="{% url 'products' %}?category=rare" class="dropdown-item">Rare plants</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools and accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=watering_cans_etc" class="dropdown-item">Watering cans &amp; sprays</a>
                <a href="{% url 'products' %}?category=tools" class="dropdown-item">Tools</a>
                <a href="{% url 'products' %}?category=plant_pots" class="dropdown-item">Plant pots</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Tools and Accessories</a>
            </div>
        </li>

    </ul>
</div>