<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Most popular</a>
                <a href="" class="dropdown-item">Easy to care for</a>
                <a href="" class="dropdown-item">Rare plants</a>
                <a href="" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools and accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Watering cans &amp; sprays</a>
                <a href="" class="dropdown-item">Tools</a>
                <a href="" class="dropdown-item">Plant pots</a>
                <a href="" class="dropdown-item">All Tools and Accessories</a>
            </div>
        </li>

    </ul>
</div>