{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">


  <!-- Blog post detail-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
      </div>
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          <!-- comments -->

          <!---->
          <h2>{{ comments.count }} Comments</h2>
          {% for comment in comments %}
          <div class="comments">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
   
          <div>
            {% if user.is_authenticated %}
                {% if user.name == comment.user_id %}
                    <a href="{% url 'delete_comment' comment.id %}" class="product_delete">Delete Comment</a>
                {% endif %}
            {% endif %}
        </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          {% if user.is_authenticated %}
            {% if new_comment %}
              <div class="alert alert-success" role="alert">
              Your comment has been submitted and is awaiting approval. Check back soon.
              </div>
            {% else %}
              <h3>Leave a comment</h3>
              <form method="post" action="{% url 'post_detail' post.slug %}">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button class="btn btn-black rounded-0 btn-lg text-uppercase" type="submit" aria-label="Submit a comment button">Submit<span class="icon">
                <i class="fa-solid fa-plus"></i>
            </span></button>
              </form>
            {% endif %}
          {% else %}
          <div class="mt-4">
            <p>To leave a comment you must be logged in. </p>
            <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Log in</a>
            <a class="btn btn-outline-black rounded-0" href="{% url 'account_signup' %}">Sign up</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
